.page{
    background-image: url("../img/Загальна%20директорія/Фон%20для%20основної%20сторінки.png");
    background-size: cover;
}
.pad{
    padding: 30px;
}
.blur{
    background-color: rgba(17, 16, 17, 0.56);
}
.btn-blur{
    box-shadow: 0px 0px 25px -5px #525252;
}